
body{
color: #162d4a !important;
width: 100% !important
}
.fs-14{
  font-size: 14px !important;
}

.fs-16{
  font-size: 16px !important;
}

.fs-18{
  font-size: 18px !important;
}

.fs-20{
  font-size: 20px !important;
}

.fs-24{
  font-size: 24px !important;
}

.fs-28{
  font-size: 28px !important;
}

.fs-38{
  font-size: 38px !important;
}

.fs-40{
  font-size: 40px !important;
}

.fs-50{
  font-size: 50px !important;
}

.fw-200{
  font-weight: 200 !important;
}

.fw-300{
  font-weight: 300 !important;
}

.fw-400{
  font-weight: 400 !important;
}

.fw-500{
  font-weight: 500 !important;
}

.fw-600{
  font-weight: 600 !important;
}

.fw-700{
  font-weight: 700 !important;
}

.fw-bold{
  font-weight: 900 !important;
}

.fw-semiBold{
  font-weight: 800 !important;
}

.Cooper{
  font-family: 'Cooper Lt BT', sans-serif !important; 
}

.Oswald{
  font-family: 'Oswald', sans-serif !important;
}

.Quicksand{
  font-family: 'Quicksand', sans-serif
}

.mt-50{
  margin-top: 50px !important;
}

.pt-50{
padding-top: 50px !important;
}

.bg-blue{
  background-color: rgba(22,45,74) !important;
}

.bg-lightBlue{
  background-color:rgba(178,211,226) !important;
}

@media (min-width: 768px) { /* Larger screens */
  .flex-row{
    flex-direction: row !important;
  }
}

.headerWrapper{
  width: 100%;
  padding-top: 32px;
  height: auto;
}

.navItems{
  justify-content: space-around;
  align-items: baseline
}

.contentwrapper{
  padding-top: 108px;
}


.contentPara{
  line-height: 66px;
  padding-left: 35px;
  width: 579px;
  font-size: 24px;
}

.headerPara{
  padding-left: 35px;
width: 576px;
}

.headerBtn{
  padding-left: 35px !important;
}

.customBtn{
  box-shadow: 8px 6px 0 0 #fff;
  position: relative;
  height: 66px;
  border: none;
  text-transform: capitalize;
  padding: 1.25rem 5rem;
}


.bunleBtn
{
  width: 256px;
  margin-bottom: 25px !important;
}

.purchaseButton{
  height: 94px;
  margin-left: 12px;
  width: 491px;
  margin-top: 35px;
  padding: 30px 60px 11px 47px;;
}

.headerImgWrapper{
  max-width: 100%;
    height: auto;
}

.productDetailWrapper{
  background-color: #f9ece4;
  padding-top: 5rem;
  height: 1000px;
  padding: 80px;
}

.detailPrice{
  text-decoration: line-through;
  padding-top: 0;
  margin-top: 0;
}

.productContainer{
  justify-content: space-between;
     margin-top: 70px;
}


.productImage{
  border: 5px solid;
    margin-bottom: 1.25rem;
}


.productBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productButton{
 width: 332px;
} 

.reviewContainer{
padding: 80px;
background-color: rgba(178,211,226);
 color: #162d4a;
    text-align: center;
}


.reviewWrapper{
  align-items: center;
  justify-content: space-around;
  max-width: 1300px;
  margin-left: 184.5px;
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.caroselPara{
  text-align: initial;
    padding-right: 17px;
    margin-left: 36px;
}

.breakerWrapper{
  text-align: justify;
  margin-left: 39px;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}

.reviewNamer{
  text-align: initial;
    margin-left: 40px;
}

.carouselImgWrapper{
  max-width: 100%;
}

.currentCarouselImage{
  height: 435px;
    width: 435px;
    border: 5px solid #162d4a;
}

.carouselSecondImg{
  height: 435px;
    width: 435px;
    border: 5px solid #162d4a;
}

.checkoutContainer{
  background-image: url(./assets/Checkout/checkout_bg.jpg);
  padding: 40px 0px;
  background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.checkoutWrapper{
  margin: 80px 25px
}

.formWrapper{
  display: grid !important;
  max-width: 510px !important;
  align-items: center !important;
}

.form{
max-width: 510px;
}

.formHeader{
  display: flex;
    flex-direction: row;
    padding-top: 19px;
}


.footerContainer{
  background-color: #162d4a;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.mb-10{
  margin-bottom: 10px !important; 
}

.mb-20{
  margin-bottom: 20px !important; 
}

.mb-40{
  margin-bottom: 40px !important; 
}

.regionDropdown{
  height: 58px;
  margin-left: 10px;
  border-radius: 7px;
  width: 213px;
}

.countryDropdown{
  height: 58px;
  margin-left: 10px;
  border-radius: 7px;
  width: 219px;
}

.checkoutPatch{
  height: 27px;
    margin-top: 17px
}

.discountBtn{
  height: 54px;
  width: 150px;
  padding: 11px 20px;
  margin-left: -79px;
}

.discInput{
  width: 330px;
}

.cartTable{
  /* background-color: #162d4a; */
  padding: 20px 20px 0 15px;
  border-radius: 5px;
  margin-top: 50px;
}


.CardTableContent{
  word-spacing: 0.2rem;
    font-size: 17px;
    padding-top: 1px;
}

input.form-control::placeholder{
  color : #162d4a !important; 
  font-family: 'Cooper Lt BT', sans-serif !important; 
  font-size: 20px !important;
  font-weight: 500;
}

.opacity{
  opacity: 0.5;
}



.lockIcon{
  height: 33px !important;
  width: 31px !important;
  
}

.transPara{
  width: 448px;
    letter-spacing: 0.02rem;
    font-size: 18px;
    word-spacing: 0.1rem;
    margin-left: 50px;
    color: #e9e3e3;
}


.checkoutFooter{
  margin-top: 160px;
    padding: 40px;
}

.FastCo{
  height: 120px;
    width: 228px;
}

.fastcoPara{
  line-height: 39px;
  padding: 0 51px;
  letter-spacing: 0.01rem;
}

.todayCoPara{
  line-height: 39px;
    padding: 54px 38px;
    letter-spacing: 0.01rem;
}

.popCoImg{
  height: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.popCoPara{
  line-height: 39px;
    padding: 55px 81px;
    letter-spacing: 0.01rem;
}

/* Header.css */

/* Adjust the logo size */
.logo {
  max-width: 100%; /* Ensure the logo doesn't exceed its container */
  height: auto;
}

/* Adjust margins and paddings for smaller screens */
.textContainer {
  padding: 10px;
}


/* Adjust image padding for different screen sizes */
.headerImgWrapper img {
  width: 100%;
  padding-top: 60px;
}

@media (min-width: 992px) {
  .headerImgWrapper img {
    padding-top: 0px;
  }

  .container{
    max-width: 100% !important;
  }
}

.disabledButton {
  opacity: 0.6; 
  cursor: not-allowed; 
}

.emailValidate{
  background: #e92632 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}


.emailError{
  display: block;
    position: relative;
    top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    text-align: left;
    padding: 7px 10px;
    background: #ba1d27;
    z-index: 2;
    opacity: 1;

}

.discError{
  display: block;
    position: relative;
    top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    text-align: left;
    padding: 7px 10px;
    background: #ba1d27;
    z-index: 2;
    opacity: 1;

}

.form-floating>.form-control:not(:placeholder-shown)~label::after{
  inset: 1rem 0.375rem;
  position: initial;
    z-index: -1;
    height: 1.5em;
    content: "";
}

.reviewCarousel {
  position: relative;
  display: flex;
  align-items: center;
}

.chevron {
  font-size: 40px;
  cursor: pointer;
}

.left {
  margin-left: -56px;

}

.right {
  margin-right: -56px;
}

.signupContainer{
  width: 30%;
  padding: 36px 70px 5px 70px;
  border-radius: 11px;
  height: auto
}

.form-group{
  text-align: justify;
  margin-bottom: 10px;
}



.textRed{
  color: red
}




.headerImgWrapper.hidden-xs.hidden-sm {
  display: none;
}

@media(max-width: 768px){
  .productDetailWrapper {
    padding: 35px;
}

.productImage{
  height: auto !important;
  width: 100% !important;
}

.productdesc{
  font-size: 16px !important;
    font-weight: 600 !important;
    padding-right: 0rem!important; 
    padding-left: 0rem!important;
    margin-right: 0rem!important;
    margin-left: 0rem!important;
}

.reviewWrapper{
  margin-left: 0px !important;
}

.carouselSecondImg{
  display: none !important;
}
}


  @media(min-width: 769px){
    .navItems{
      margin: 33px 5px !important;
    }

    .headerImgWrapper img {
      padding-top: 0px !important;
      max-width: 100% !important;
    }

    .headerPara {
      width: auto !important;
      text-align: initial;
      font-size: 24px !important;
  }
    .signUpButton{
      font-size: 24px !important;
      height: 50% !important;
      }



      .contentwrapper{
        text-align: center !important;
        padding-top: 0px !important;
        margin-top: 0px !important;
      }

      .contentPara {
        font-size: 50px !important;
        width: auto !important;
        font-weight: 300 !important;
        text-align: initial;
      }

    .purchaseButton{
      width: 379px !important;
    }
    
    /* .cartTable{
      width: 404px !important;
    }
     */
    .contentHeading {
      text-align: start;
      margin-left: 0;
      width: auto;
    }
    
    .transPara{
      margin-left: 0px !important;
    }

  

  }

  @media (max-width: 1080px){
    .headerWrapper {
        height: auto;
        padding-bottom: 5rem;
    }
    }
  
    @media (max-width: 767px)
    /* (min-width: 344px) and (max-width:768px) */
    {
     
      .sm-fs-30{
        font-size: 30px !important;
      }

      .sm-fs-16{
        font-size: 16px !important;
      }

      .sm-fs-14{
        font-size: 14px !important;
        font-weight: 500 !important;
      }

      .sm-fs-24{
        font-size: 24px !important;
      }

.sm-fs-18{
  font-size: 18px !important;
}
      /* Small screens */
      .bunleBtn {
        display: block;
        margin: 0 auto;
      }
  
      .navItems{
        margin: 33px 5px !important;
        display: block !important;
      }
  
      .contentHeading{
        padding-bottom: 41px !important;
      }
    
      .rowStyle{
        flex-direction: row-reverse;
      }

      .contentwrapper{
        text-align: center !important;
        padding-top: 0px !important;
        margin-top: 0px !important;
      }
  
      .headerPara {
        padding-left: 47px !important;
        width: 326px !important;
        text-align: center !important;
        font-size: 18px !important;
    }
  
    .bunleBtn{
      width: 168px !important;
      padding: 0px;
    }
    
      .contentPara {
        font-size: 24px !important;
        width: 306px !important;
        font-weight: 800 !important;
        line-height: 38px;
    }
  
    .signUpButton{
      width: 138px !important;
      padding: 0px !important;
      /* margin-left: 77px !important; */
    }

    .productImage {
      width: 270px !important;
      height: 270px;
      margin-left: 7px !important;
  }

  .productDetailWrapper {
    height: auto !important;
    padding: 80px 0px !important;
    width: 100% !important;
}

.productContainer{
  display: block !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.productButton{
  width: 256px !important;
  padding: 0px !important;
  margin-left: 45px !important;
}

.reviewContainer{
  text-align: center !important;
  position: relative !important;
  padding: 2.5rem !important;
}

 .flex-column-reverse-sm {
  flex-direction: column-reverse !important;
}
  
.reviewWrapper{
  margin-left: 0px !important;
  display: block !important;

}


.currentCarouselImage {
  height: 280px !important;
  width: 290px !important;
  border: 3px solid #162d4a
}

/* .carouselSecondImg{
  display: none !important;
} */

.leftIcon{
  position: absolute !important;
  top: 280px !important;
  left: 7px !important;
}

.rightIcon{
  position: absolute !important;
  top: 280px !important;
  right: 7px !important;
}

.caroselPara{
  text-align: center !important;
  font-size: 16px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  padding-top: 10px !important;
  font-weight: 700 !important;

}

.breakerWrapper {
  text-align: center !important;
  margin-left: 0px !important;
  margin-bottom: 0.25rem !important;
  margin-top: 0px !important;
}

.reviewNamer {
  text-align: center !important;
  margin-left: 16px !important;
  font-weight: 600 !important;
}

.checkoutWrapper{
 margin: 0 !important;
}

.checkoutHeading{
  font-size: 30px !important;
}

.checkBoxWrapper{
  align-items: baseline !important;
  text-align: initial !important;
  margin-bottom: 0px !important;
}

.checkBoxWrapper p{
  padding-left: 15px !important;
  padding-right: 0px !important;
}

.sm-px{
    padding-left: 20px !important;
      padding-right: 20px !important;
}

.sm-pr{
  padding-right: 20px !important;
}

.sm-mx{    align-items: baseline;
  text-align: initial;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.sm-inputField{
  margin-left: -11px !important;
  width: 170px !important;
}

.discountBtn{
  margin-left: 0px !important;
  width: 321px !important;
}

.purchaseButton{
  padding: 32px 43px 11px 27px  !important;
  width: 311px !important;
}

.transPara p{
  width: 324px !important;
  letter-spacing: 0;
  word-spacing: 0;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.checkoutFooter{
  margin-top: 40px !important;
    padding: 37px 0px !important;
}

.FastCo {
  height: 97px !important;
  width: 201px !important;
}

.fastcoPara {
  line-height: 32px !important;
  padding: 25px 0px !important;
  font-size: 20px !important;
  margin-bottom: 40px !important;
}

.todayCoImg{
  height: 100px !important;
}

.todayCoPara {
  line-height: 32px;
  padding: 40px 23px;
  letter-spacing: 0.01rem;
  font-size: 22px !important;
}

.popCoImg {
  height: 15px !important; 
  margin-top: 40px !important;
  max-width: 45% !important;
}

.popCoPara {
  line-height: 35px;
  padding: 34px 40px;
  letter-spacing: 0.01rem;
  font-size: 20px !important;
}

 .headerBtn {
     text-align: center !important; 
}

.modal-content{
  width: 49% !important;
}

.modal-dialog-centered{
  align-items: baseline !important;
}

.customBtn {
  padding: 1.25rem 1rem 2rem !important;
}

    }
  
  
  
