/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body{
color: #162d4a !important;
}
.fs-14{
  font-size: 14px !important;
}

.fs-16{
  font-size: 16px !important;
}

.fs-18{
  font-size: 18px !important;
}

.fs-20{
  font-size: 20px !important;
}

.fs-24{
  font-size: 24px !important;
}

.fs-28{
  font-size: 28px !important;
}

.fs-38{
  font-size: 38px !important;
}

.fs-40{
  font-size: 40px !important;
}

.fs-50{
  font-size: 50px !important;
}

.fw-200{
  font-weight: 200 !important;
}

.fw-300{
  font-weight: 300 !important;
}

.fw-400{
  font-weight: 400 !important;
}

.fw-500{
  font-weight: 500 !important;
}

.fw-600{
  font-weight: 600 !important;
}

.fw-700{
  font-weight: 700 !important;
}

.fw-bold{
  font-weight: 900 !important;
}

.fw-semiBold{
  font-weight: 800 !important;
}

.Cooper{
  font-family: 'Cooper Lt BT', sans-serif !important; 
}

.Oswald{
  font-family: 'Oswald', sans-serif !important;
}

.Quicksand{
  font-family: 'Quicksand', sans-serif
}

.mt-50{
  margin-top: 50px !important;
}

.pt-50{
padding-top: 50px !important;
}

.headerWrapper{
  background-color:rgba(178,211,226);
  text-align: center;
  width: 100%;
  padding-top: 32px;
  height: 750px;

}

.contentHeading{
  text-transform: uppercase;
  max-width: 100%;
}

.contentwrapper{
  text-align: start;
  padding-top: 108px;
}


.contentPara{
  line-height: 66px;
  padding-left: 35px;
  width: 579px;
  font-size: 24px;
}

.headerPara{
  padding-left: 35px;
width: 576px;
}

.headerBtn{
  padding-left: 35px !important;
  text-align: start;
}

.bunleBtn{
  background-color: rgba(22,45,74);
  box-shadow: 8px 6px 0 0 #fff;
  position: relative;
  color: #fff;
  height: 66px;
  border: none;
  width: 256px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-transform: capitalize;
  margin-bottom: 25px !important;
}

.headerImgWrapper{
  max-width: 100%;
    height: auto;
}

.productDetailWrapper{
  background-color: #f9ece4;
  text-align: center;
  padding-top: 5rem;
  height: 1000px;
  padding: 80px;
}

.detailPrice{
  text-decoration: line-through;
  padding-top: 0;
  margin-top: 0;
}

.productContainer{
  justify-content: space-between;
    display: flex;
     margin-top: 70px;
    margin-right: 250px;
    margin-left: 159px; 
}


.productImage{
  border: 5px solid;
    margin-bottom: 1.25rem;
    margin-left: 29px;
}


.productBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productButton{
  background-color: rgba(22, 45, 74);
  box-shadow: 8px 6px 0 0 #fff;
  position: relative;
  color: #fff;
  height: 66px;
  border: none;
  width: 332px;
  padding: 1.25rem 5rem; /* Combine padding properties into one */
  text-transform: capitalize;
  margin-bottom: 25px !important;
}

.reviewContainer{
padding: 80px;
background-color: rgba(178,211,226);
 color: #162d4a;
 /* max-width: 1280px; */
    text-align: center;
}


.reviewWrapper{
  text-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1300px;
  margin-left: 184.5px;
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.caroselPara{
  text-align: initial;
    padding-right: 17px;
    margin-left: 36px;
}

.breakerWrapper{
  text-align: justify;
  margin-left: 39px;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}

.reviewNamer{
  text-align: initial;
    margin-left: 40px;
}

.carouselImgWrapper{
  max-width: 100%;
}

.currentCarouselImage{
  height: 435px;
    width: 435px;
    border: 5px solid #162d4a;
}

.carouselSecondImg{
  height: 435px;
    width: 435px;
    border: 5px solid #162d4a;
}

.checkoutContainer{
  background-image: url(./assets/Checkout/checkout_bg.jpg);
  color: #fff;
  text-align: center;
  padding: 40px 182px;
  background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.checkoutWrapper{
  margin: 59px;
}

.formHeader{
  display: flex;
    flex-direction: row;
    padding-top: 19px;
}


.footerContainer{
  background-color: #162d4a;
  color: #fff;
  text-align: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.mb-10{
  margin-bottom: 10px !important; 
}

.mb-20{
  margin-bottom: 20px !important; 
}

.mb-40{
  margin-bottom: 40px !important; 
}

.regionDropdown{
  height: 58px;
  margin-left: 10px;
  border-radius: 7px;
  width: 213px;
}

.countryDropdown{
  height: 58px;
  margin-left: 10px;
  border-radius: 7px;
  width: 270px;
}

.checkoutPatch{
  height: 27px;
    margin-top: 27px
}

.discountBtn{
  background-color: rgba(22,45,74);
  box-shadow: 8px 6px 0 0 #fff;
  position: relative;
  color: #fff;
  height: 54px;
  border: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 5rem;
  text-transform: capitalize;
  margin-bottom: 25px !important;
  margin-left: 20px;
  width: 150px;
  padding-left: 53px;
}

.discInput{
  width: 330px;
}

.cartTable{
  background-color: #162d4a;
  color: #fff;
  padding: 20px 20px 0 15px;
  border-radius: 5px;
  width: 565px;
  margin-left: -26px;
  margin-top: 50px;
}

.CardTableContent{
  word-spacing: 0.2rem;
    font-size: 17px;
    padding-top: 1px;
}

input.form-control::placeholder{
  color : #162d4a !important; 
  font-family: 'Cooper Lt BT', sans-serif !important; 
  font-size: 20px !important;
  font-weight: 500;
}

.opacity{
  opacity: 0.5;
}

.purchaseButton{
  background-color: rgba(22,45,74);
  box-shadow: 8px 6px 0 0 #fff;
  position: relative;
  color: #fff;
  height: 94px;
  border: none;
  padding-top: 30px;
  padding-bottom: 11px;
  padding-right: 5rem;
  text-transform: capitalize;
  margin-bottom: 25px !important;
  margin-left: 12px;
  width: 491px;
  padding-left: 75px;
  margin-top: 35px;
  text-align: center;

}

.lockIcon{
  height: 33px !important;
  width: 31px !important;
  
}

.transPara{
  width: 448px;
    letter-spacing: 0.02rem;
    font-size: 18px;
    word-spacing: 0.1rem;
    margin-left: 50px;
    color: #e9e3e3;
}

.checkoutFooter{
  margin-top: 160px;
    padding: 40px;
}

.FastCo{
  height: 120px;
    width: 228px;
}

.fastcoPara{
  line-height: 39px;
  padding: 0 51px;
  letter-spacing: 0.01rem;
}

.todayCoPara{
  line-height: 39px;
    padding: 54px 38px;
    letter-spacing: 0.01rem;
}

.popCoImg{
  height: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.popCoPara{
  line-height: 39px;
    padding: 55px 81px;
    letter-spacing: 0.01rem;
}

/* Header.css */

/* Adjust the logo size */
.logo {
  max-width: 100%; /* Ensure the logo doesn't exceed its container */
  height: auto;
}


@media (min-width: 768px) {
  /* Medium screens and above */
  .contentPara {
    font-size: 30px;
  }
}

/* Adjust margins and paddings for smaller screens */
.textContainer {
  padding: 10px;
}

/* Center the button on small screens */
@media (max-width: 576px) {
  /* Small screens */
  .bunleBtn {
    display: block;
    margin: 0 auto;
  }
}

/* Adjust image padding for different screen sizes */
.headerImgWrapper img {
  width: 100%;
  padding-top: 60px;
}

@media (min-width: 992px) {
  /* Large screens and above */
  .headerImgWrapper img {
    padding-top: 108px;
  }
}
